{% extends 'admin/index.html.twig' %}
{% block main %}
    <h1>Ordens de serviço</h1>
    <a href="{{ path('admin_ordens_busca') }}" class="btn btn-sm btn-primary">Novo</a>
    <hr>
    <table class="table table-responsive">
        <tr>
            <th>ID</th>
            <th>Usuário (e-mail)</th>
            <th>Departamento</th>
            <th>Equipamento</th>
            <th>Descrição do defeito</th>
            <th>Opções</th>
        </tr>
        {% for ordem in ordens %}
            <tr>
                <td>{{ ordem.id }}</td>
                <td>{{ ordem.usuario }}</td>
                <td>{{ ordem.equipamento.departamento }}</td>
                <td>{{ ordem.equipamento }}</td>
                <td>{{ ordem.descricao }}</td>
                <td>
                    <a href="{{ path('admin_ordens_info', { 'id': ordem.id }) }}" class="btn btn-sm btn-default">Info</a>
                    <a href="{{ path('admin_ordens_editar', { 'id': ordem.id }) }}" class="btn btn-sm btn-warning">Editar</a>
                    <a href="{{ path('admin_ordens_excluir', { 'id': ordem.id }) }}" class="btn btn-sm btn-danger">Excluir</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}