{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ordems list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Data</th>
                <th>Descricao</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ordem in ordems %}
            <tr>
                <td><a href="{{ path('admin_ordens_show', { 'id': ordem.id }) }}">{{ ordem.id }}</a></td>
                <td>{% if ordem.data %}{{ ordem.data|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ ordem.descricao }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_ordens_show', { 'id': ordem.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_ordens_edit', { 'id': ordem.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_ordens_new') }}">Create a new ordem</a>
        </li>
    </ul>
{% endblock %}
