{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ordem</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ordem.id }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{% if ordem.data %}{{ ordem.data|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Descricao</th>
                <td>{{ ordem.descricao }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_ordens_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_ordens_edit', { 'id': ordem.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
