{% extends 'base.html.twig' %}
{% block body %}
    <h1>Nivelacesso</h1>
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ nivelAcesso.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ nivelAcesso.nome }}</td>
            </tr>
            <tr>
                <th>Criado</th>
                <td>{% if nivelAcesso.criado %}{{ nivelAcesso.criado|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modificado</th>
                <td>{% if nivelAcesso.modificado %}{{ nivelAcesso.modificado|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_niveisacesso_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_niveisacesso_edit', { 'id': nivelAcesso.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}