{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nivelacessos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Criado</th>
                <th>Modificado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nivelAcesso in nivelAcessos %}
            <tr>
                <td><a href="{{ path('admin_niveisacesso_show', { 'id': nivelAcesso.id }) }}">{{ nivelAcesso.id }}</a></td>
                <td>{{ nivelAcesso.nome }}</td>
                <td>{% if nivelAcesso.criado %}{{ nivelAcesso.criado|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if nivelAcesso.modificado %}{{ nivelAcesso.modificado|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_niveisacesso_show', { 'id': nivelAcesso.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_niveisacesso_edit', { 'id': nivelAcesso.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_niveisacesso_new') }}">Create a new nivelAcesso</a>
        </li>
    </ul>
{% endblock %}
