<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}SGMC - Sistema Gerenciador de Manutenção de Computadores{% endblock %}</title>
        {% block icone %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
        {% endblock %}
        {% block css %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
                  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
                  crossorigin="anonymous">
            <link rel="stylesheet"
                  href="https://getbootstrap.com/docs/3.3/examples/sticky-footer-navbar/sticky-footer-navbar.css">
        {% endblock %}
    </head>
    <body>
    {% block header %}
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false">
                        <span class="sr-only">Abrir menu</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('home') }}">SGMC</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('home') }}"><i class="fa fa-home"></i> Página inicial</a></li>
                        <li><a href="#">Teste</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('home_admin') }}"><i class="fa fa-lock"></i> ADMIN</a></li>
                            <li><a href="#">Teste</a></li>
                            <li><a href="#">Teste</a></li>
                            <li><a href="#">Teste</a></li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if app.user %}
                            <li><a href="{{ path('logout') }}"><i class="fa fa-sign-out"></i> Sair</a></li>
                        {% else %}
                            <li><a href="{{ path('login') }}"><i class="fa fa-sign-in"></i> Entrar</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}
        <div class="container">
            {% block body %}
                <div class="row">
                    <div id="sidebar" class="col-sm-3">
                        {% block sidebar %}{% endblock %}
                    </div>
                    <div id="main" class="col-sm-9">
                        {{ include('default/_flash_messages.html.twig') }}
                        {% block main %}{% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>
    {% block footer %}
        <footer class="footer">
            <div class="container">
                <p>{{ 'now'|date('Y') }} - SGMC</p>
                <p>César / Lucas / Renan / Vinícius</p>
            </div>
        </footer>
    {% endblock %}
        {% block js %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                    crossorigin="anonymous"></script>
            <script src="https://use.fontawesome.com/f888f2bf0e.js"></script>
        {% endblock %}
    </body>
</html>