<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}SGMC - Sistema Gerenciador de Manutenção de Computadores{% endblock %}</title>
        {% block icone %}
            <link rel="icon" type="image/x-icon" href="{{ asset('img/logo.png') }}"/>
        {% endblock %}
        {% block css %}
            <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('css/sticky-footer-navbar.css') }}">
            <link rel="stylesheet" href="{{ asset('css/ajustes.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% block header %}
                <nav class="navbar navbar-inverse navbar-fixed-top">
                    <div class="container">
                        <a href="{{ path('home') }}" class="navbar-brand"><img src="{{ asset('img/logo.png') }}"></a>
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                                <span class="sr-only">Abrir menu</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="navbar">
                            <ul class="nav navbar-nav">
                                <li><a href="{{ path('home') }}"><span class="glyphicon glyphicon-home"></span> Página inicial</a></li>
                                {% if is_granted('ROLE_USER') %}
                                    <li><a href="{{ path('admin_home') }}"><span class="glyphicon glyphicon-lock"></span> Admin</a></li>
                                {% endif %}
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li></li>
                                {% if app.user %}
                                    <li><a href="{{ path('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Sair</a></li>
                                {% else %}
                                    <li><a href="{{ path('login') }}"><span class="glyphicon glyphicon-log-in"></span> Entrar</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
            {% endblock %}
            <div class="{% block containerclass %}container{% endblock %}">
                {% block content %}
                    <div class="row">
                        <div id="sidebar" class="col-sm-3 col-md-2">
                            {% block sidebar %}{% endblock %}
                        </div>
                        <div id="main" class="col-sm-9 col-md-10">
                            {{ include('_flash_messages.html.twig') }}
                            {% block main %}{% endblock %}
                        </div>
                    </div>
                {% endblock %}
            </div>
            {% block footer %}
                <footer class="footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-10">
                                <p>{{ 'now'|date('Y') }} - SGMC</p>
                                <p>César / Lucas / Renan / Vinícius</p>
                            </div>
                            <div class="col-xs-2">
                                <a href="https://www.cps.sp.gov.br/" class="pull-right">
                                    <img src="{{ asset('img/cps.png') }}" class="logo-cps">
                                </a>
                            </div>
                        </div>
                    </div>
                </footer>
            {% endblock %}
            {% block js %}
                <script src="{{ asset('js/jquery.min.js') }}"></script>
                <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            {% endblock %}
        {% endblock %}
    </body>
</html>