{% extends 'admin/index.html.twig' %}
{% block main %}
    <h1>
        <a href="{{ path('admin_equipamentos_index') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </a>
        Excluir ordem
    </h1>
    <hr>
    <h3>ID: {{ ordem.id }}</h3>
    <h3>Equipamento: {{ ordem.equipamento }}</h3>
    <h3>Descrição: {{ ordem.descricaoDefeito }}</h3>
    <h3>Status: {{ ordem.status }}</h3>
    <hr>
    <h2>Deseja excluir a ordem?</h2>
    <form action="{{ path('admin_ordens_excluir', { 'id' : ordem.id }) }}" method="post">
        <input type="submit" value="Sim" name="del" class="btn btn-danger">
        <input type="submit" value="Não" name="del" class="btn btn-default">
    </form>
{% endblock %}