{% extends 'admin/index.html.twig' %}
{% block main %}
    <h1>Ordens de serviço</h1>
    <a href="{{ path('admin_ordens_busca') }}" class="btn btn-sm btn-primary">Novo</a>
    <hr>
    {% if ordens|length > 0 %}
        <table class="table table-responsive">
            <tr>
                <th>Usuário</th>
                <th>Setor</th>
                <th>Equipamento</th>
                <th>Descrição do defeito</th>
                <th>Status</th>
                <th>Opções</th>
            </tr>
            {% for ordem in ordens %}
                <tr>
                    <td>{{ ordem.criadoPor }}</td>
                    <td>{{ ordem.equipamento.setor }}</td>
                    <td>{{ ordem.equipamento }}</td>
                    <td>{{ ordem.descricaoDefeito }}</td>
                    <td>{{ ordem.status }}</td>
                    <td>
                        <a href="{{ path('admin_ordens_info', { 'id': ordem.id }) }}" class="btn btn-sm btn-default">Info</a>
                        <a href="{{ path('admin_ordens_editar', { 'id': ordem.id }) }}" class="btn btn-sm btn-warning">Editar</a>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <a href="{{ path('admin_ordens_fechar', { 'id' : ordem.id }) }}" class="btn btn-sm btn-warning">Fechar ordem</a>
                            <a href="{{ path('admin_ordens_excluir', { 'id': ordem.id }) }}" class="btn btn-sm btn-danger">Excluir</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Nenhuma ordem cadastrada</h2>
    {% endif %}
{% endblock %}