{% extends 'admin/index.html.twig' %}
{% block main %}
    <h1>
        <a href="{{ path('admin_cursos_index') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </a>
        Info curso
    </h1>
    <hr>
    {% if curso %}
        <h3>ID: {{ curso.id }}</h3>
        <h3>Nome: {{ curso.nome }}</h3>
        <h3>Turmas:</h3>
        {% for turma in curso.turmas %}
            <h4>{{ turma }}</h4>
        {% endfor %}
        <a href="{{ path('admin_cursos_editar', { 'id': curso.id }) }}" class="btn btn-warning">Editar</a>
        <a href="{{ path('admin_cursos_excluir', { 'id': curso.id }) }}" class="btn btn-danger">Excluir</a>
    {% else %}
        <h3>Erro ao buscar curso</h3>
    {% endif %}
{% endblock %}
