{% extends 'admin/index.html.twig' %}
{% block main %}
    <h1>Equipamentos</h1>
    <a href="{{ path('admin_equipamentos_novo') }}" class="btn btn-sm btn-primary">Novo</a>
    <hr>
    <table class="table table-responsive">
        <tr>
            <th>ID</th>
            <th>Número</th>
            <th>Equipamento</th>
            <th>Departamento</th>
            <th>Opções</th>
        </tr>
        {% for equipamento in equipamentos %}
            <tr>
                <td>{{ equipamento.id }}</td>
                <td>{{ equipamento.numero }}</td>
                <td>{{ equipamento.tipoEquipamento }} {{ equipamento.marca }} {{ equipamento.modelo }}</td>
                <td>{{ equipamento.departamento.nome }}</td>
                <td>
                    <a href="{{ path('admin_equipamentos_info', { 'id': equipamento.id }) }}" class="btn btn-sm btn-default">Info</a>
                    <a href="{{ path('admin_equipamentos_editar', { 'id': equipamento.id }) }}" class="btn btn-sm btn-warning">Editar</a>
                    <a href="{{ path('admin_equipamentos_excluir', { 'id': equipamento.id }) }}" class="btn btn-sm btn-danger">Excluir</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}