{% extends 'base.html.twig' %}

{% block body %}
    <h1>Equipamentos list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Descricao</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Nummaquina</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for equipamento in equipamentos %}
            <tr>
                <td><a href="{{ path('admin_equipamentos_show', { 'id': equipamento.id }) }}">{{ equipamento.id }}</a>
                </td>
                <td>{{ equipamento.descricao }}</td>
                <td>{{ equipamento.marca }}</td>
                <td>{{ equipamento.modelo }}</td>
                <td>{{ equipamento.numMaquina }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_equipamentos_show', { 'id': equipamento.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_equipamentos_edit', { 'id': equipamento.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_equipamentos_new') }}">Create a new equipamento</a>
        </li>
    </ul>
{% endblock %}
