{% extends 'base.html.twig' %}

{% block body %}
    <h1>Equipamento</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ equipamento.id }}</td>
            </tr>
            <tr>
                <th>Descricao</th>
                <td>{{ equipamento.descricao }}</td>
            </tr>
            <tr>
                <th>Marca</th>
                <td>{{ equipamento.marca }}</td>
            </tr>
            <tr>
                <th>Modelo</th>
                <td>{{ equipamento.modelo }}</td>
            </tr>
            <tr>
                <th>Nummaquina</th>
                <td>{{ equipamento.numMaquina }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_equipamentos_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_equipamentos_edit', { 'id': equipamento.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
