{% extends 'admin/index.html.twig' %}
{% block main %}
    <h1>Departamentos</h1>
    <a href="{{ path('admin_departamentos_novo') }}" class="btn btn-primary">Novo</a>
    <hr>
    <table class="table table-responsive">
        <tr>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
        {% for departamento in departamentos %}
            <tr>
                <td>{{ departamento.nome }}</td>
                <td>
                    <a href="{{ path('admin_departamentos_info', { 'id': departamento.id }) }}" class="btn btn-default">Info</a>
                    <a href="{{ path('admin_departamentos_editar', { 'id': departamento.id }) }}" class="btn btn-warning">Editar</a>
                    <a href="{{ path('admin_departamentos_excluir', { 'id': departamento.id }) }}" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}