{% extends 'admin/index.html.twig' %}
{% block main %}
    <h1>
        <a href="{{ path('admin_usuarios_index') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </a>
        Excluir usuário
    </h1>
    <hr>
    <h3>ID: {{ usuario.id }}</h3>
    <h3>Usuário: {{ usuario.username }}</h3>
    <h3>Tipo: {{ usuario.tipo }}</h3>
    <hr>
    <h2>Deseja excluir o usuário?</h2>
    <form action="{{ path('admin_usuarios_excluir', { 'id' : usuario.id }) }}" method="post">
        <input type="submit" value="Sim" name="del" class="btn btn-danger">
        <input type="submit" value="Não" name="del" class="btn btn-default">
    </form>
{% endblock %}