{% extends 'admin/index.html.twig' %}
{% block main %}
    <h1>Usuários</h1>
    <a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary">Novo</a>
    <hr>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Usuário</th>
            <th>E-mail</th>
            <th>Nível permissão</th>
            <th>Opções</th>
        </tr>
        {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.email }}</td>
                <td>
                    {% for role in usuario.roles %}
                        {{ role }}
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-warning">Editar</a>
                    <a href="{{ path('fos_user_profile_show') }}" class="btn btn-default">Info</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}