{% extends 'admin/index.html.twig' %}
{% block main %}
    <h1>Turmas</h1>
    <a href="{{ path('admin_turmas_novo') }}" class="btn btn-sm btn-primary">Novo</a>
    <hr>
    {% if turmas|length > 0 %}
        <table class="table table-responsive">
            <tr>
                <th class="col-xs-5">Curso</th>
                <th class="col-xs-2">Módulo</th>
                <th class="col-xs-2">Turno</th>
                <th class="col-xs-3">Opções</th>
            </tr>
            {% for turma in turmas %}
                <tr>
                    <td>{{ turma.curso }}</td>
                    <td>{{ turma.modulo }}</td>
                    <td>{{ turma.turno }}</td>
                    <td>
                        <a href="{{ path('admin_turmas_info', { 'id': turma.id }) }}" class="btn btn-sm btn-default">Info</a>
                        <a href="{{ path('admin_turmas_editar', { 'id': turma.id }) }}" class="btn btn-sm btn-warning">Editar</a>
                        <a href="{{ path('admin_turmas_excluir', { 'id': turma.id }) }}" class="btn btn-sm btn-danger">Excluir</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {{ knp_pagination_render(turmas) }}
    {% else %}
        <h2>Nenhuma turma cadastrada</h2>
    {% endif %}
{% endblock %}