{% extends 'admin/index.html.twig' %}
{% block main %}
    <h1>
        <a href="{{ path('admin_turmas_index') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </a>
        Info turma
    </h1>
    <hr>
    <h3>ID: {{ turma.id }}</h3>
    <h3>Período: {{ turma.periodo }}</h3>
    <h3>Tipo equipamento: {{ equipamento.tipoEquipamento }}</h3>
    <h3>Marca: {{ equipamento.marca }}</h3>
    <h3>Modelo: {{ equipamento.modelo }}</h3>
    <h3>Descrição: {{ equipamento.descricao }}</h3>
    <a href="{{ path('admin_equipamentos_editar', { 'id': equipamento.id }) }}" class="btn btn-warning">Editar</a>
    <a href="{{ path('admin_equipamentos_excluir', { 'id': equipamento.id }) }}" class="btn btn-danger">Excluir</a>
{% endblock %}

{% extends 'base.html.twig' %}
{% block body %}
    <h1>Turma</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ turma.id }}</td>
            </tr>
            <tr>
                <th>Periodo</th>
                <td>{{ turma.periodo }}</td>
            </tr>
            <tr>
                <th>Turno</th>
                <td>{{ turma.turno }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_turmas_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_turmas_edit', { 'id': turma.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
