{% extends 'base.html.twig' %}

{% block body %}
    <h1>Departamentos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for departamento in departamentos %}
            <tr>
                <td><a href="{{ path('admin_departamentos_show', { 'id': departamento.id }) }}">{{ departamento.id }}</a></td>
                <td>{{ departamento.nome }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_departamentos_show', { 'id': departamento.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_departamentos_edit', { 'id': departamento.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_departamentos_new') }}">Create a new departamento</a>
        </li>
    </ul>
{% endblock %}
