{% extends 'base.html.twig' %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="http://getbootstrap.com.br/examples/signin/signin.css">
{% endblock %}
{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <form class="form-signin" action="{{ path('login') }}" method="post">
        <h2 class="form-signin-heading">Entrar</h2>
        <label for="usuario" class="sr-only">Email</label>
        <input type="text" id="usuario" name="_username" class="form-control" placeholder="Usuário"
               value="{{ last_username }}" required autofocus>
        <label for="senha" class="sr-only">Senha</label>
        <input type="password" id="senha" name="_password" class="form-control" placeholder="Senha" required>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <input type="hidden" name="_target_path" value="{{ path('admin_home') }}">
        <button type="submit" class="btn btn-lg btn-primary btn-block"><i class="fa fa-sign-in"></i> Entrar</button>
    </form>
{% endblock %}