{% extends 'admin/index.html.twig' %}
{% block main %}
    <h1>
        <a href="{{ path('admin_equipamentos_index') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </a>
        Informações equipamento
    </h1>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h3>Setor: {{ equipamento.setor }}</h3>
            <h3>Equipamento: {{ equipamento }}</h3>
            <h3>Situação: {{ equipamento.status }}</h3>
            <h3>Descrição: {{ equipamento.descricao }}</h3>
            <a href="{{ path('admin_equipamentos_editar', { 'id': equipamento.id }) }}" class="btn btn-warning">Editar</a>
            <a href="{{ path('admin_equipamentos_excluir', { 'id': equipamento.id }) }}" class="btn btn-danger">Excluir</a>
        </div>
        <div class="col-xs-12 col-md-6">
            <img src="{{ vich_uploader_asset(equipamento, 'imageFile') }}" alt="{{ equipamento.nome }}" class="img-responsive foto">
        </div>
    </div>
{% endblock %}
